#main-container {
    /*background: white;*/
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.settings {
    padding-top: 5px;
}

.accounts {
    display: block;
    width: 90%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}