<link href="/plugins/deeplearning-image/resource/dl-image-toolbox.css" rel="stylesheet" type="text/css">

<div ng-controller="extractRecipeController" ng-show="finishedLoading">

    <form class="dku-form-horizontal">

      <div class="control-group">
        <label class="control-label">Select extracted layer</label>
        <div class="controls">
          <select dku-bs-select
                  name="extract_layer_index" 
                  ng-model="config.extract_layer_index"
                  ng-options="l.index as l.name for l in layers">
          </select>
        </div>
      </div>

      <div ng-if="canUseGPU">
        
        <div class="control-group">
          <label class="control-label">Use GPU</label>
          <div class="controls">
            <input name=should_use_gpu type="checkbox" ng-model="config.should_use_gpu"/>
          </div>
        </div>

        <div ng-show="canUseGPU && config.should_use_gpu">
            <div class="control-group">
              <label class="control-label">List of GPUs to use</label>
              <div class="controls">
                <input name=list_gpu style="width: 50px" type="text" ng-model="config.list_gpu" required/>
                <span class="help-inline">Comma separated list of GPU indexes</span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Memory allocation rate per GPU</label>
              <div class="controls">
                <input name=gpu_allocation style="width: 50px" type="number" min=0 max=1 step="0.1" ng-model="config.gpu_allocation" required/>
              </div>
            </div>
        </div>

      </div>

      <div class="control-group">
        <div class="link-like" ng-click="showHideAdvancedParams()">
          {{getShowHideAdvancedParamsMessage()}}
        </div>
      </div>

      <div ng-show="showAdvancedParams">
        <div class="model-summary-container">
          {{modelSummary}}
        </div>
      </div>

    </form>
    
</div>