<link href="/plugins/deeplearning-image/resource/dl-image-toolbox.css" rel="stylesheet" type="text/css">

<div ng-controller="retrainRecipeController" ng-show="finishedLoading">
    
    <form class="dku-form-horizontal">
        
        <h2 class="settings-section-title">Dataset with labels</h2>

        <div class="control-group">
            <label class="control-label">Image filename column</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.col_filename"
                        ng-options="c for c in labelColumns">
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Label column</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.col_label"
                        ng-options="c for c in labelColumns">
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Train ratio</label>
            <div class="controls">
                <input type="number" min="0" max="1" step="0.1" ng-model="config.train_ratio" required />
                <span class="help-inline">Proportion of the sample that goes to the train set. The rest goes to the test set</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Random Seed</label>
            <div class="controls">
                <input type="number" min="0" step="1" ng-model="config.random_seed" required />
                <span class="help-inline">Using a fixed random seed allows for reproducible result</span>
            </div>
        </div>


        <h2 class="settings-section-title">Model</h2>

        <div class="control-group">
          <label class="control-label">Pooling</label>
          <div class="controls">
            <select dku-bs-select
                    ng-model="config.model_pooling"
                    ng-options="p[1] as p[0] for p in poolingOptions"
                    ng-disabled="retrained">
            </select>
          </div>
        </div>

        <div class="control-group">
            <label class="control-label">Image width/height</label>
            <div class="controls">
                <input style="width: 98px;" type="number" min="197" step="1" ng-model="config.image_width"/ ng-disabled="retrained" required>
                <input style="width: 98px; margin-left: 8px;" type="number" min="197" step="1" ng-model="config.image_height" ng-disabled="retrained" required/>
                <span class="help-inline" ng-if="retrained">Input model has already be retrained. Pooling and size are already set.</span>
            </div>
        </div>

        <div class="control-group">
          <label class="control-label">Layer(s) to retrain</label>
          <div class="controls">
            <select dku-bs-select
                    ng-model="config.layer_to_retrain"
                    ng-options="l[1] as l[0] for l in layersOptions">
            </select>
            <input style="width: 50px;" type="number" min="1" step="1" ng-model="config.layer_to_retrain_n" ng-if="config.layer_to_retrain == 'n_last'" required/>
          </div>
        </div>

        <div class="control-group">
            <label class="control-label">Dropout</label>
            <div class="controls">
                <input type="number" min="0" max="1" step="0.1" ng-model="config.model_dropout" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">L1 regularization</label>
            <div class="controls">
                <input type="number" min="0" step="0.1" ng-model="config.model_reg.l1" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">L2 regularization</label>
            <div class="controls">
                <input type="number" min="0" step="0.1" ng-model="config.model_reg.l2" required />
            </div>
        </div>

      <div class="control-group">
        <div class="link-like" ng-click="showHideAdvancedParams()">
          {{getShowHideAdvancedParamsMessage()}}
        </div>
      </div>

      <div ng-show="showAdvancedParams">
        <div class="model-summary-container">
          {{modelSummary}}
        </div>
      </div>


        <h2 class="settings-section-title">Optimization</h2>

        <div class="control-group">
          <label class="control-label">Optimizer</label>
          <div class="controls">
            <select dku-bs-select
                    ng-model="config.model_optimizer"
                    ng-options="o[1] as o[0] for o in optimizerOptions">
            </select>
          </div>
        </div>

        <div class="control-group">
            <label class="control-label">Learning rate</label>
            <div class="controls">
                <input type="number" min="0" step="0.001" ng-model="config.model_learning_rate" required />
            </div>
        </div>

        <div class="control-group several-controls">
            <label class="control-label">Custom Parameters</label>
            <div class="controls" ng-repeat="cp in config.model_custom_params_opti">
                <input type="text" ng-model="cp.name" placeholder="Parameter" />
                <input type="text" ng-model="cp.value" placeholder="Value" />
                <div class="link-like dib" ng-click="removeCustomParam($index, 'model_custom_params_opti')"><i class="icon-trash"></i></div>
            </div>
            <div class="controls">
                <button class="btn btn-default" ng-click="addCustomParam('model_custom_params_opti')">Add</button>
            </div>
        </div>


        <h2 class="settings-section-title">Training</h2>

        <div class="control-group">
            <label class="control-label">Batch size</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.batch_size" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Number of epochs</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.nb_epochs"  required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Steps per epoch</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.nb_steps_per_epoch" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Number of validation steps</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.nb_validation_steps" required />
            </div>
        </div>

        <div class="control-group">
          <label class="control-label">Data Augmentation</label>
          <div class="controls">
            <input name=should_use_gpu type="checkbox" ng-model="config.data_augmentation"/>
          </div>
        </div>

        <div ng-show="config.data_augmentation">
            <div class="control-group">
                <label class="control-label"># augmentation per image</label>
                <div class="controls">
                    <input type="number" min="1" step="1" ng-model="config.n_augmentation" required />
                </div>
            </div>

            <div class="control-group several-controls">
                <label class="control-label">Data augment. custom params</label>
                <div class="controls" ng-repeat="cp in config.model_custom_params_data_augmentation">
                    <input type="text" ng-model="cp.name" placeholder="Parameter" />
                    <input type="text" ng-model="cp.value" placeholder="Value" />
                    <div class="link-like dib" ng-click="removeCustomParam($index, 'model_custom_params_data_augmentation')"><i class="icon-trash"></i></div>
                </div>
                <div class="controls">
                    <button class="btn btn-default" ng-click="addCustomParam('model_custom_params_data_augmentation')">Add</button>
                </div>
            </div>
        </div>

        <div class="control-group">
          <label class="control-label">Tensorboard</label>
          <div class="controls">
            <input name=should_use_gpu type="checkbox" ng-model="config.tensorboard"/>
            <span class="help-inline">You can access tensorboard via a DSS webapp</span>
          </div>
        </div>

        <div ng-show="canUseGPU">
            
            <h2 class="settings-section-title">GPU</h2>

            <div class="control-group">
              <label class="control-label">Use GPU</label>
              <div class="controls">
                <input name=should_use_gpu type="checkbox" ng-model="config.should_use_gpu"/>
              </div>
            </div>

            <div ng-show="config.should_use_gpu">
                <div class="control-group">
                  <label class="control-label">List of GPUs to use</label>
                  <div class="controls">
                    <input name=list_gpu style="width: 50px" type="text" ng-model="config.list_gpu" required />
                    <span class="help-inline">Comma separated list of GPU indexes</span>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Memory allocation rate per GPU</label>
                  <div class="controls">
                    <input name=gpu_allocation style="width: 50px" type="number" min=0 max=1 step="0.1" ng-model="config.gpu_allocation" required />
                  </div>
                </div>
            </div>

        </div>

    </form>
</div>